/**************************************
	
	404 PAGE NOT FOUND

***************************************/

.not_found {
	padding: 300px 0;
	text-align: center;
	// @include flex(center, center);
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.02em;
	line-height: 1;
}


/******************************
    SP
*******************************/

@include media($mobileSize) {

	.not_found {
		padding: 200px 0;
	}
}