/*====================================================================
topPageFvSec
====================================================================*/
.kv__slider {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    background-color: $lightGray;

    // slider slide
    &__item {
        min-height: 40vh;
        @include u-flex($fw: wrap, $jc: center, $ai: center);

        &__text {
            font: bold 30px/1 $NotosansJP;
            color: $gray;
        }
    }

    // Pagination
    &__pagi {
        width: 100%;

        .swiper-pagination-bullet {
            margin: 0 5px;

            &-active {
                background-color: tomato;
            }
        }
    }

    // Next, Previous
    &__next, &__prev {
        &::after {
            color: tomato;
        }
    }
}