/**************************************
	
	typewriter
	

***************************************/
@-webkit-keyframes typewriter {
  0%, 100% {
    width: 0; }
  20%, 80% {
    width: 10.2em; } }
@keyframes typewriter {
  0%, 100% {
    width: 0; }
  20%, 80% {
    width: 10.2em; } }
@-webkit-keyframes caret {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes caret {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.text_1 {
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typewriter;
  animation: typewriter;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: steps(25, end);
  animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
  animation: caret infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end); }


