- const pageTitle = 'サイトタイトル'
- const relativePath = '.';

doctype html
html(lang="ja")
    head
        include _inc/_head.pug
        
    body.topPage
        include _inc/_siteHeader.pug
        
        .siteContent
            section.topPageContentSec
        
        include _inc/_siteFooter.pug
